body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
}
 
     /*----------------------SECTION1 NABVBAR-------------------*/

.header {
    width: 100%;
    height: 70px;
    display: flex;
    background-color: #333;
    color: white;
    position: fixed;
    z-index: 1000;
    top: 0;
 
}

.overall {
    width: 500px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.logo img {
    margin-top: 5px;
    width: 150px;
    height: 40px;
    margin-left: 20px;
}

.title {
    margin-left: 20px;
    text-align: center;
    color: slategray;
    width: 250px;
    height: 70px;
    background-color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.icons {
    margin-left: 49%;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

.icons i {
    font-size: 24px;
    margin-left: 15px;
    cursor: pointer;
    padding: 0 20px; 
    color:slategray;
    border-left: 2px solid slategray;
    height: 70px;
    display: flex;
    align-items: center;
}

.icons i.fa-shopping-cart {
    height: 70px;
    width:40px;
    border: none;
    background-color:springgreen;
    color: white;
}

.icons i.fa-times{
    border:none;
    padding-left: 0;
}

.icons i:hover {
 color: #ddd;
}
/*-------------*/

@media screen and (max-width: 991px) {
    .header {
         width: 991px;
    }
    .icons {
         margin-left:10%;
    }
}
@media screen and (max-width: 768px) {
    
    .header {
         width: 768px;
    }
    .icons {
         margin-left:11%;
    }
    .overall {
        width: 300px;
        justify-content:space-between;
        display: flex;
        align-items: center;
    }
    .title {
         width: 180px;
        height: 70px;
        font-size: 15px;
    }
    .logo img {
        width: 100px;
        height: 40px;
        margin-left: 10px;
    }
}
@media only screen  and (max-width: 667px) {
    .header {
        height: 60px;
        max-width: 667px;
   }
   .logo img {
    width: 100px;
    height: 30px;
}
   .icons {
    height: 60px;
        margin-left:30%;
   }
   .icons i.fa-shopping-cart {
    height: 60px;
}
   .icons i.fa-laptop,
    .icons i.fa-tablet-alt,
    .icons i.fa-mobile-alt {
    display: none;
}
.title {
    width: 170px;
    height: 60px;
    margin-left: 0 ;
    
}
.overall {
    width: 330px;
    justify-content:space-around;
    display: flex;
    align-items: center;
}
}     
@media only screen  and (max-width: 425px) {
    .header {
        height: 60px;
        max-width: 425px;
   }
   .logo img {
    margin-top: 2px;
    margin-left: 10px;
        width: 120px;
        height: 40px;
}
   .icons {
    height: 60px;
        margin-left:29%;
   }
   .icons i.fa-shopping-cart {
    height: 60px;
}
   .icons i.fa-laptop,
    .icons i.fa-tablet-alt,
    .icons i.fa-mobile-alt {
    display: none;
}
.title {
    display: none;
}
.overall {
    width: 150px;
    justify-content:center;
    display: flex;
    align-items: center;
}
}
@media only screen  and (max-width: 375px) {
    .header {
         height: 60px;
        max-width: 375px;
   }
   .logo img {
         margin-top: 2px;
        margin-left: 10px;
        width: 120px;
        height: 40px;
}
    .icons {
        width:300px;
       height: 60px;   
   }
   .icons i.fa-shopping-cart {
    height: 60px;
}
   .icons i.fa-laptop,
    .icons i.fa-tablet-alt,
    .icons i.fa-mobile-alt {
    display: none;
}
.title {
    display: none; 
}
.overall {
    width: 120px;
    justify-content:center;
    display: flex;
    align-items: center;
}
}
  
@media only screen  and (max-width: 320px) {
    .header {
        height: 60px;
        max-width: 320px;
   }
   .logo img {
    margin-top: 2px;
    margin-left: 10px;
    width: 120px;
     height: 40px;
}
   .icons {
     width:270px;
       height: 60px;
       margin-left:12%;
   }
   .icons i.fa-shopping-cart {
    height: 60px;
}
   .icons i.fa-laptop,
    .icons i.fa-tablet-alt,
    .icons i.fa-mobile-alt {
    display: none;
}
.title {
    display: none; 
}
.overall {
    width: 130px;
    justify-content:center;
    display: flex;
    align-items: center;
}
}
            /*-----------------SECTION2 NAVBAR ------------------*/
    
 #navbr { 
    background-color: #ff4500; 
     display: flex;
     justify-content: space-around;
     align-items: center;
     position: relative;
     font-family: Arial, sans-serif; 
     margin-top: 70px; 
     }
     .nav1{
      width:700px;
     justify-content: space-around;
    display: flex;
    overflow-y: auto;
     }
            
     .nav1 p {
        margin: 0;
        color: white;
            }
     .nav2 .btn {
         width:200px;
        height:60px ;
        background-color: black;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
         }
            /*--------------*/
     @media only screen  and (max-width: 991px){
        #navbr { 
        flex-direction: column;
        justify-content: space-between; 
        margin-top: 70px;
        }
        .nav1{
        margin-top: 10px;
        }
        .nav2 .btn{
        margin-top: 20px;
          }
            }
     @media only screen  and (max-width: 667px),
        only screen  and (max-width: 375px),
        only screen  and (max-width: 425px){
        .nav1{
         display: none;
         }

      #navbr { 
        margin-top: 60px;
         align-items:center;
        justify-content:baseline;
           }
         .nav2 .btn{
          width:180px;
         margin-top: 0;
     }
     }

        /*-----------------SECTION2 NAVBAR ------------------*/

        #navbar {
            height: 75px;
            background-color: #fff;
            padding: 10px 50px;
             box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        
        .log img {
            height: 30px;
            margin-right: 40px;
        }
        .nav {
           /* width: 650px;
            justify-content: space-between;*/
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 20px; 
        }
        .nav li {
            margin-left: 20px;
        }
        .nav a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
        }
        
        .nav a.active {
            color: #ff4500;
        }
        .nav a.active,
        .nav a:hover {
            color: #ff4500;
            border-bottom: 4.5px solid #ff4500;
            padding-bottom: 34px;
        }
        .menu-icon {
            display: none;
            cursor: pointer;
        }
        .hamburger-icon,
        .close-icon {
            font-size: 30px;
            display: none;
        }
        
        @media (max-width: 991px) {
            #navbar {
                height: 60px;
            }
            .nav {
                 font-size: 17px;
                  width: 250px;
                  height: 100%;
                 display: none;
                 flex-direction: column;
                 position: absolute;
                 top: 0;
                 left: 0;
                background-color: #fff;
                 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                 z-index: 9999;
            }
            .nav li {
                margin-top: 10%;
            }
            .nav a.active,
           .nav a:hover {
            width:400px;
            padding-bottom: 5px;
        }
             .nav.open {
                display: flex;
            }
        
            .menu-icon {
                display: block;
            }
        
            .hamburger-icon {
                display: block;
            }
        
            .close-icon {
                display: none;
            }
        
            .menu-icon.active .hamburger-icon {
                display: none;
            }
        
            .menu-icon.active .close-icon {
                display: block;
            }
        }
        @media only screen  and (max-width: 320px){
            #navbar {
               height: 60px;
                padding: 10px 20px;
                
            }
            
        }

        /*------------------SECTION NO4 SLIDER-----------------*/

       .slider {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
            position: relative;
            width: 100%;
            height: 80vh;
            overflow: hidden;
        }
        .slides {
            display: flex;
            width: 100%;
            height: 100%;
            transition: transform 0.5s ease-in-out;
        }
        .slide {
            min-width: 100%;
            height: 100%;
            position: relative;
        }
        .slide img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .slide::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5); 
            z-index: 5;
        }
        
       .content{
           position: absolute;
            top: 40%;
            left: 40%;
           transform: translate(-50%, -50%);
            color: white;
           
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
            z-index: 10; 
        }
        .content p {
            font-family:Montserrat, sans-serif;
            line-height: 170%;
            font-size: 1.2em;
            margin-bottom: 50px;
        }
        .content h1 {
           
            font-size: 5em;
           margin-bottom: 30px;
        }
        .content h1 span {
            display: block; 
            padding-top: 0;
            font-size: 50px;
            font-weight: 200;
            
        }
        
        
         .donate-btn,
        .read-more-btn {
            padding: 1em 3em;
            margin: 0.5em;
            border: none;
            cursor: pointer;
            font-size: 1em;
            border-radius: 40px;
        }
        
        .donate-btn {
            background-color: #ff5722;
            color: white;
        }
        
        .read-more-btn {
            background-color: transparent;
            border: 1px solid  #ff5722;
            color: white;
        }
        
        .navigation {
            position: absolute;
            bottom: 40px;
            left: 25%;
            transform: translateX(-50%);
            display: flex;
            gap: 12px; 
        }
        
        .indicator {
            font-size: 20px;
            color: white;
            padding: 0; 
            background: none; 
            border: none;
        }
        
        .indicator.active {
           color:#ff4500;
            padding: 0; 
            background: none; 
            border: none;
        }
        
        .controls {
            text-align: center;
            position: absolute;
            top: 50%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            transform: translateY(-50%);
        }
        
        .prev {
            font-size: 2em;
            color: white;
            cursor: pointer;
            padding: 10px;
            background-color: #ff5722;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            left: 50px; 
            transform: translateY(-50%);
            z-index: 10;
            position: absolute;
           
        }
        
        .next {
            font-size: 2em;
            color: white;
            cursor: pointer;
            padding:10px;
            background-color: #ff5722;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            transform: translateY(-50%);
            right: 10%;
            position: absolute;
            z-index: 50;
            line-height: 1;
        }
        
        @media (max-width: 991px) {
            .slider {
              
                width: 100%;
                height: 50vh;
                
            }
            .content p {
                display: none;
            }
            .navigation,
            .controls {
                display: none;
            }
            .content {
                top: 40%;
                left: 35%;
            }
            
            .content h1 {
                font-weight: bold; 
                font-size: 3em;
                margin-bottom: 50px;
                line-height: 1.2; 
            }
            
            .content h1 span {
                display: block; 
                padding-top: 0;
                font-size: 0.5em;
                font-weight: 200;
            }
           
        }
        
        
        @media (max-width:768px) {
            .content p {
                display: none;
            }
            .navigation,
            .controls {
                display: none;
            }
            .content {
                left: 28%;
            }
        }
        
       
        @media (max-width: 667px) {
            .content p {
                display: none;
            }
            .navigation,
            .controls {
                display: none;
            }
            .content {
                left: 30%;
            }
        }
        
      
       
            @media (max-width: 425px) {
                .content p {
                    display: none;
                }
                .navigation,
                .controls {
                    display: none;
                }
                .slider {
                    width: 100%;
                    height: 30vh;
                }
                .content {
                    display: block;
                    top: 40%;
                    left: 35%; 
                    
                }
                .content h1{
                    margin-bottom: 30px;
                }
                .content .buttons {
                    display: flex;
                    justify-content: center;
                    gap: 10px; 
                }
                .donate-btn, .read-more-btn {
                    padding: 0.5em 1.5em;
                    margin: 10px 0; 
                    display: inline-block; 
                }
            }
        
        
       
        @media (max-width: 375px) {
            .content p {
                display: none;
            }
            .navigation,
            .controls {
                display: none;
            }
            .slider {
                width: 100%;
                height: 30vh;
            }
            .content {
                display: block;
                top: 40%;
                left: 35%; 
            }
            .content .buttons {
                display: flex;
                justify-content: center;
                gap: 10px; 
            }
            .donate-btn, .read-more-btn {
                padding: 0.5em 1em;
                margin: 10px 0; 
                display: inline-block; 
            }
        }
        
        
        @media (max-width: 320px) {
            .content p {
                display: none;
            }
            .navigation,
            .controls {
                display: none;
            }
            .content {
                display: block;
                top: 50%;
                left: 35%; 
            }
            .read-more-btn{
                display: none;
            }
            .donate-btn{
                padding: 0.5em 1.5em;
            }
        }

        /*-------------------------SECTION NO5 DIV-------------*/

        #sec5 {
            display: flex;
            justify-content: center; 
            gap: 50px; 
            padding: 70px; 
        }
        
        #sec5 .box {
            flex: 1;
            min-width: 340px;
            max-width: 340px;
            height: 280px;
            margin-top: 50px; 
            padding: 50px;
            text-align: center;
            border-radius: 40px;
            background-color:#ECF2F5;
           transition: background-color 0.3s ease;
        }
        #sec5 .box:not(.active):hover {
            background-color: #ff5722;
            color: white;
        }
        #sec5 .box:not(.active):hover p,
           #sec5 .box:not(.active):hover img {
         color: white;
         filter: none; 
}
        
        #sec5 .box.active {
            background-color: #ff5722;
            color: white;
        }
        
        #sec5 .box img {
            width: 70px; 
            height: 70px; 
            margin-bottom: 20px;
        }
        
        #sec5 .box h2 {
            margin-bottom: 30px;
            font-size: 34px; 
        }
        
        #sec5 .box p {
            font-size: 17px;
            line-height: 1.6;
        }
        
        
        #sec5 .box:not(.active) p {
            color:slategrey; 
           
        }
        #sec5 .box:not(.active) p {
            color:#777;
        }
        
        #sec5 .box:not(.active) img {
            filter: grayscale(100%);
            position: relative;
            z-index: 1;
        }
        #sec5 .box:not(.active) .color-filter {
            filter: invert(47%) sepia(17%) saturate(10%) hue-rotate(0deg) brightness(100%) contrast(75%);
        }
       
        @media (max-width: 991px) {
            #sec5 {
                display: flex;
                flex-wrap: wrap;
                justify-content:flex-start;
                gap: 40px;
                padding: 70px;
            }
            #sec5 .box {
                flex: 1 1 45%; 
                min-width: calc(35% - 25px);
                max-width: calc(35% - 25px);
                height: 310px; 
                padding: 30px; 
                border-radius: 30px;
            }
            #sec5 .box.active h2 {
                font-size: 24px; 
            }
        
            #sec5 .box:nth-child(3) {
                flex-basis: 25%; 
                min-width: 35%;
                max-width: 35%;
                height: 320px;
                padding: 30px; 
                margin-left: 10x;
            }
            #sec5 .box:nth-child(3) h2 {
                font-size: 24px; 
            }
               
            }
        
            @media (max-width: 768px) {
               
                #sec5 .box {
                    flex: 1 1 45%; 
                    min-width: calc(40% - 25px);
                    max-width: calc(40% - 25px);
                    height: 300px; 
                    padding: 20px; 
                    border-radius: 30px;
                }
                #sec5 .box.active h2 {
                    font-size: 22px; 
                }
                
            
                #sec5 .box:nth-child(3) {
                    flex-basis: 25%; 
                    min-width: 35%;
                    max-width: 35%;
                    height: 300px;
                    padding: 30px; 
                    margin-left: 10x;
                }
                #sec5 .box:nth-child(3) h2 {
                    font-size: 24px; 
                }
                #sec5 .box:not(.active):nth-child(-n+2) h2 {
                    font-size: 22px; 
                }
                }
                @media (max-width: 667px) {
                    #sec5 {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-around;
                        gap: 10px; 
                        padding: 40px; 
                    }
                
                    #sec5 .box {
                        margin-left: 0;
                        flex: 1;
                        min-width: 450px;
                        max-width: 450px;
                        height: 150px;
                        padding: 30px;
                    }
                   #sec5 .box p {
                        font-size: 15px;  
                    }
                }
                @media (max-width: 425px) {
                
                    #sec5 .box {
                        margin-left: 0;
                        flex: 1;
                        min-width: 300px;
                        max-width: 300px;
                        height: 150px;
                        padding: 30px;
                    }
                
                    #sec5 .box p {
                        font-size: 15px;
                       
                    }
                    #sec5 .box:nth-child(3) {
                        min-width: 300px;
                        max-width: 300px;
                        height: 150px;
                    }
                }
                @media (max-width: 375px) {
                
                    #sec5 .box {
                        margin-left: 0;
                        flex: 1;
                        min-width: 250px;
                        max-width: 250px;
                        height: 150px;
                        padding: 30px;
                    }
                
                    #sec5 .box p {
                        font-size: 15px;
                       
                    }
                    #sec5 .box:nth-child(3) {
                        min-width: 250px;
                        max-width: 250px;
                        height: 150px;
                    }
                }
                @media (max-width: 320px) {
                
                    #sec5 .box {
                        margin-left: 0;
                        flex: 1;
                        min-width: 200px;
                        max-width: 200px;
                        height: 150px;
                        padding: 30px;
                    }
                
                    #sec5 .box p {
                        font-size: 15px;
                       
                    }
                    #sec5 .box:nth-child(3) {
                        min-width: 200px;
                        max-width: 200px;
                        height: 150px;
                    }
                }
        
                /*--------------------SECTION6 ------------------*/

                #sec6 {
                    background-color:#151515e6;
                    color: #fff;
                    padding: 50px 0;
                    position: relative; 
                  
                }
                
                #sec6::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url("hero.jpg.webp");
                    background-size: cover;
                    background-position: center;
                    opacity: 3; 
                   
                    z-index: -1; 
                }
                
                .charity-section {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 20px;
                    max-width: 1200px;
                    margin: 0 auto;
                }
                
                .charity-header {
                    max-width: 50%;
                }
                
                 .charity-header h1 {
                    font-size: 2em;
                    position: relative; 
                    padding-bottom: 30px; 
                    margin-bottom: 50px; 
                }
                .charity-header h1::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 50px; 
                    height: 3px;
                    background-color: #ff4500;
                }
                .charity-header p {
                    font-size: 1em;
                    line-height: 1.6;
                    margin-bottom: 40px;
                    color:silver;
                }
                
                .read-more-btns {
                    display: inline-block;
                    background-color: #ff5722;
                    color: #fff;
                    padding: 15px 30px; 
                    text-decoration: none;
                    border-radius: 15px;
                    font-size: 18px; 
                }
                
                .charity-image {
                    max-width: 45%;
                }
                
                .charity-image img {
                    width: 100%;
                    border-radius: 10px;
                }

                @media (max-width: 991px) {
                    .charity-section {
                        flex-direction: column;
                        text-align: center;
                    }
                    
                    .charity-header {
                        max-width: 100%;
                        width:70%;
                        margin-bottom: 20px;
                        order: 2; 
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                    }
                
                    .charity-header h1 {
                        font-size: 2.5em;
                        position: relative; 
                        padding-bottom: 30px; 
                        margin-bottom: 30px; 
                    }
                
                    .charity-header h1::after {
                        width: 70px; 
                    }
                
                    .charity-header p {
                        margin-top: 10px;
                        width: 600px;
                        text-align: justify;
                    }
                
                    .charity-image {
                        max-width: 100%;
                        margin-bottom: 20px;
                        order: 1; 
                        width: 70%; 
                    }
                }
                @media (max-width: 768px) {
                    .charity-image {
                        
                        width: 90%; 
                    }
                    .charity-header {
                        width:90%;
                    }
                }
                @media (max-width: 667px) {
                    .charity-image {
                        max-width: 100%;
                        margin-bottom: 20px;
                        order: 1; 
                        width: 80%; 
                    }
                    .charity-header {
                        width:80%;
                    }
                    .charity-header p {
                          width: 500px;
                        
                    }
                }
                @media (max-width: 425px) {
                    .charity-image {
                        max-width: 100%;
                        margin-bottom: 20px;
                        order: 1; 
                        width: 90%; 
                    }
                    .charity-header {
                        width:90%;
                    }
                    .charity-header p {
                          width: 300px;
                    }
                    .charity-header h1 {
                        font-size: 1.5em;
                        
                    }
                }
                @media (max-width: 320px) {
                    .charity-image {
                        max-width: 100%;
                        margin-bottom: 20px;
                        order: 1; 
                        width: 100%; 
                    }
                    .charity-header {
                        width:100%;
                    }
                    .charity-header p {
                          width: 250px;
                    }
                    .charity-header h1 {
                        font-size: 1.5em;
                        
                    }
                }

              /*--------------------SECTION7 -------------------*/
              
            #sec7 {
                background-color: #f9f9f9;
                padding: 50px 0;
                font-family: Arial, sans-serif;
            }
            
            .container {
                width: 80%;
                margin: 0 auto;
                display: flex;
                justify-content: space-around;
            }
            
            .column {
                width: 40%;
            }
            .left, .right {
                display: flex;
                flex-direction: column;
            }
            .event {
                margin-bottom: 30px;
                display: flex;
            }
            .event img {
                width: 200px;
                height: 180px;
               
            }
            .event-details {
                display: flex;
                flex-direction: column;
                margin-left: 30px;
            }
            .event-details h4 {
                font-size: 20px;
                font-family: sans-serif;
                color: #333;
                margin-top: 0;
                margin-bottom:10px;
            }
            .eventheader {
                color: #333;
                font-size: 30px;
                position: relative;
                margin-bottom:60px;
                padding-bottom: 30px;
            }
            
            .eventheader::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 50px; 
                height: 4px;
                background-color: #ff4500;
            }
            .event-details h6 {
                font-size: 15px;
                color: #333;
                font-family: sans-serif;
                margin: 0; 
            }
            
            .event-details p {
                font-size: 17px;
                width:400px;
                color: #666;
                margin-bottom: 20px; 
                line-height: 120%;
            }
            
            .event-details a {
               
                color:#ff4500;
                text-decoration: none;
            }
            
            .event-details a:hover {
                text-decoration: underline;
            }
            .cause{
                padding: 40px;
                 width:540px;
                height: 550px;
                background-color: #ddd;
               
            }
            .cause img{
                 width:320px;
                height: 350px;
            }
            .cause-details{
                margin-left: 40px;
              
            }
            .cause-details h6{
                font-size: 15px;
                color: #333;
                 font-family: sans-serif;
                margin-top: 20px;
            }
            .cause-details h4{
                font-size: 20px;
                font-family: sans-serif;
                color: #333;
                margin-top: 0;
                margin:0;
                
            }
            .cause-details p{
                font-size: 17px;
                width:250px;
                color: #666;
                margin-top: 40px;
                margin-bottom: 80px; 
                line-height: 140%;

            }

            .cau{
                display: flex;
            }
            
            .btns {
                display: inline-block;
                padding: 20px 50px;
                color: #fff;
                background-color:#ff4500;
                border: none;
                border-radius: 30px;
                text-align: center;
                text-decoration: none;
            }
            
            .raised-goal{
                margin-top: 50px;
                display: flex;
                justify-content: space-between;
            }
            @media (max-width: 991px) {
               #sec7 {
                    display: flex;
                    flex-direction: column;  
                }
                .container {
                    width: 80%;
                    margin: 10 auto;
                    display: flex;
                    gap:100px;
                    flex-direction: column;
                    justify-content: space-between;
                }
                .left, .right {
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    margin-left: 50px;
                }
                .event-details p {
                    width:500px; 
                }
                .cause{
                    width:630px;
                    height: 470px;   
                }
            }
            @media (max-width: 768px) {
                 .left, .right {
                     margin-left: 0;
                 }
                 .cause{
                    width:580px;
                    height: 470px;   
                }
                .event-details p {
                    width:400px; 
                }
                 
             }
             @media (max-width: 667px) {
                .left, .right {
                    margin-left: 0;
                }
                .cause{
                   width:490px;
                   height: 470px;   
               }
               .event-details p {
                   width:320px; 
               }
               .cause-details{
                margin-left: 30px;
            }
            .cause-details h6{
                font-size: 12px;
            }
            .container {
              margin-left: 50px;
                justify-content:flex-start;
            }
            }

            @media (max-width: 425px) {
                .left, .right {
                    margin-left: 0;
                }
                .event-details{
                    width:220px;
                    margin-left: 10px;
                }
                .event-details p{
                    width:220px;
                }
                .event-details h6{
                   font-size: 10px;
                }
                .cau{
                    flex-direction: column;
                }
                .cause{
                   width:320px;
                   height:auto; 
                }
               .cause-details{
                margin-left: 30px;
            }
               .container {
              margin-left: 10px;
                justify-content:flex-start;
            }
            .cause-details h6{
                margin-top: 5px;
                font-size: 15px; 
            }
            .cause-details p{
                width:300px;
                    margin-bottom: 30px;
            }
            .cause-details h4{
                margin-top: 20px;
                font-size: 20px;
            }
            }
            @media (max-width: 375px) {
                .event-details{
                    width:160px;
                    margin-left: 10px;
                }
                .event-details p{
                    width:160px;
                }
                .cause{
                    align-items: center;
                    justify-content: center;
                    width:300px;
                    height:auto; 
                    padding: 30px;
                 }
                 .cause img{
                    width:270px;
                   height: 250px;
               }
            }
            @media (max-width: 320px) {
                .event-details{
                    width:120px;
                    margin-left: 10px;
                }
                .event-details p{
                    width:100px;
                    font-size: 14px;;
                }
                .event-details h4{
                    font-size: 15px;
               }
                
                .cause{
                    width:240px;
                    height:auto; 
                    padding: 30px;
                 }
                 .cause img{
                    width:230px;
                   height: 250px;
               }
               .cause h6{
                     font-size: 10px;
               }
               .cause p{
                width:200px;
                font-size: 15px;
               }
               .raised-goal{
                font-size: 10px;;
               }
               .eventheader {
                font-size: 20px;
               }
            }

                  /*--------------------SECTION8 -----------------------*/

#our-causes {
    padding: 40px;
    background-color: #f9f9f9;
    
}


#our-causes h2 {
    color: #333;
    font-size: 2.5em;
     position: relative;
     margin-bottom:60px;
     padding-bottom: 30px;
     margin-left:17%;
   
 }
 
 #our-causes h2::after {
     content: '';
     position: absolute;
     left: 0;
     bottom: 0;
     width: 70px; 
     height: 4px;
     background-color: #ff4500;
 }

.carousel {
    position: relative;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    display: flex;
    justify-content:center;
    align-items: flex-start;
}

.cause-item {
    background: #fff;
   
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
    width: 23%;
  
    margin: 10px;
    padding: 0;
}

.cause-item img {
    width: 100%;
    border-bottom: 2px solid #f0f0f0;
    margin-bottom: 15px;
}

.cause-item h3 {
    font-size: 1.2em;
    margin: 10px 0;
    padding-left: 20px;
}

.cause-item p {
    font-size: 0.95em;
    line-height: 1.5;
    color: #666;
    padding-left: 20px;
}

.progress-bar-container {
    position: relative;
    margin: 30px 20px;
}



.progress-bar {
    background: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
    height: 5px;
}

.progress {
    background: #ff4500;
    height: 5px;
    border-radius: 5px;
    width: 83%; 
}
                
                .progress-circle {
                    position: absolute;
                    top: -20px;
                    left: 83%; 
                    transform: translateX(-50%);
                    background: #ff4500;
                    color: white;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                    font-weight: bold;
                }
                
                .raised-goals{
                    display: flex;
                    justify-content: space-between;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin-bottom: 50px;
                 }     
               

.raised-goals p {
    font-size: 0.9em;
    color: #333;
    margin: 5px 0;
}

.control {
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.prevs,
.nexts {
font-size: 2em;
color: white;
cursor: pointer;
padding: 10px;
background-color: #ff5722;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
width: 50px;
height: 50px;
position: absolute;
top: 50%;
transform: translateY(-50%);
z-index: 10;
}

.prevs {
left: 20px; 
}

.nexts {
right: 20px; 
}


                @media (max-width: 991px) {

                    .carousel-slide .cause-item:nth-child(3) {
                        display: none;
                    }
                   /* .carousel-slide {
                        min-width: 95%; 
                         gap: 5px;;
                         justify-content:baseline;
                     }*/
                     .cause-item {
                         height:520px;
                         width: 400px;
                     }
                     
                     .cause-item img {
                         height: 40%;
                        
                     }  
                   
                }
                @media (max-width: 768px) {

                    .carousel-slide .cause-item:nth-child(3) {
                        display: none;
                    }
                    .carousel-slide .cause-item:nth-child(2) {
                        display: none;
                    }
                    .carousel-slide {
                       min-width: 100%; 
                        gap: 5px;; 
                        justify-content:center;
                    }
                    .cause-item {
                       align-items:center;
                       justify-content: center;
                        height:570px;
                        width: 600px;
                    }
                    .cause-item img {
                        width: 100%;
                        height: 50%;
                    }  
                    .cause-item p {
                        width:500px;
                        margin: 20px 40px;
                    }
                    #our-causes {
                          padding: 30px 40px;
                      }
                       #our-causes h2 {
                         font-size: 3em;
                          margin-bottom:30px;
                          margin-left: 15%;
                      }
                      
                }
                
                    @media (max-width: 667px) {
                        .carousel-slide .cause-item:nth-child(3),
                        .carousel-slide .cause-item:nth-child(2) {
                            display: none;
                        }
                       
                        .cause-item p {
                            width:350px;
                            margin: 20px 20px;
                        }
                        .nexts{
                            margin-right: 1px;
                        }
                        .prevs{
                            margin-left: 1px;
                        }
                    }  
                     @media (max-width: 425px) {
                        #our-causes h2 {
                              margin-left: 0;
                              font-size: 1.5em;
                         }
                         #our-causes{
                            padding: 30px;
                         }
                         .carousel {
                             align-items:flex-start;
                            justify-content:flex-start;
                        }
                        
                        .carousel-inner {
                             width: 100%;
                            margin: 0;
                            padding: 0;
                        }
                        
                      .carousel-slide {
                          width: 100%;
                             margin: 0;
                            padding: 0;
                            gap: 0;
                        }
                        
                        .cause-item {
                            padding: 0;
                            margin: 0 ;
                            height: 550px;
                            width: 100%;
                        }
                        .cause-item h3{
                            font-size: 20px;
                        }
                        .cause-item img {
                            width: 150%;
                            height: 45%;
                        }
                        .control{
                            display: none;
                        }
                        .cause-item p{
                             width:300px;
                        }
                     }
                     @media (max-width: 375px) {
                        .cause-item p{
                            width:250px;
                       }
                     }
                     @media (max-width: 320px) {
                        .cause-item p{
                            width:210px;
                       }
                     }
                

                     /*-------------------SECTION NO9-------------------*/

            body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
                background-color: #f4f4f4;
            }
            
            #charit-section {
                background-color: #fff;
                padding: 50px 20px;
                justify-content: space-evenly;
                display: flex;
                text-align: center;
                border-top: 1px solid #eaeaea;
                border-bottom: 1px solid #eaeaea;
                font-family:Arial, Helvetica, sans-serif;
            }
          
            #charit-section .contents h2 {
                width:550px;
                text-align: justify;
                color: #333;
                font-size: 35px;
                margin-bottom: 20px;
                font-family:Arial, Helvetica, sans-serif;
                position: relative;
                margin-bottom:60px;
                padding-bottom: 30px;
                line-height: 150%;
            }
            
            
            #charit-section .contents h2::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 50px; 
                height: 4px;
                background-color: #ff4500;
            }
            .para1{
                font-size: 20px;
                color:#666;
                width:600px;
                text-align: justify;
                line-height: 150%;
                font-family:Arial, Helvetica, sans-serif;
            }

            #charit-section .stats {
                margin-top: 10%;
                display: flex;
                justify-content: center;
                gap:50px;
                
            }
            
            #charit-section .stat {
                font-family:Arial, Helvetica, sans-serif;
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: 150px;
            }
            
            
             .stat img {
            width: 90px;
            height: 90px;
            margin-bottom: 20px;
}
              .stat p {
              font-size: 37px;
              font-weight: bold;
                margin: 20px;
                padding: 0;
}

                .stat span {
                color: #777;
                 font-size: 20px;
                 margin-top: 0;
}
  
@media (max-width: 991px) {
    #charit-section {
        justify-content: center;
        flex-direction: column;
    }
    .contents{
        padding-left: 20%;
    }
    #charit-section .stats {
        gap:70px; 
    }
    .para1{
        font-size: 17px;
         width:650px;
    }
    #charit-section .contents h2 {
        width:600px;
    }
}
@media (max-width: 768px) {
    .contents{
        padding-left: 5%;
    }
}
@media (max-width: 667px) {
    .contents{
        padding-left: 5%;
    }
    #charit-section .contents h2 {
        width:500px;
    }
    .para1{
        font-size: 16px;
         width:550px;
    }
}
@media (max-width: 425px) {
    .contents{
        padding-left: 0;
    }
    #charit-section .contents h2 {
        font-size: 25px;
        width:400px;
    }
    .para1{
        font-size: 12px;
         width:400px;
    }
    #charit-section .stats {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:100px;
    }
}
@media (max-width: 375px) {
    .contents{
        padding-left: 0;
    }
    #charit-section .contents h2 {
        font-size: 25px;
        width:300px;
    }
    .para1{
         font-size: 12px;
         width:300px;
    }
    #charit-section .stats {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:100px;
    }
}
@media (max-width: 320px) {
    .contents{
        padding-left: 0;
    }
    #charit-section .contents h2 {
        font-size: 25px;
        width:250px;
    }
    .para1{
         font-size: 12px;
         width:250px;
    }
    #charit-section .stats {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:100px;
    }
}

                     /*---------------------SECTION NO 10-------------------------*/   
    
     #sect11 {
        background-color:#151515e6;
        position: relative;
        color: #fff;
        padding: 80px 50px;
        background-image: url('f.jpg.webp'); 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden; 
    }
    
    #sect11::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
        background-color:#151515e6;
        z-index: 1;
    }
    #sect11 img{
        margin-bottom: 20px;
    }
    #sect11 .footer-container {
        position: relative;
        z-index: 2; 
    }
     .footer-container {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        height: 400px;
        margin: 0 auto;
        padding: 0 20px;
        flex-wrap: wrap; 
    }
    .footer-section {
        flex: 1;
        margin: 20px;
        min-width: 250px; 
    }
    .footer-section h2, .footer-section h3 {
        color:white;
        margin-top:0;
    }
    .footer-section p, .footer-section ul, .footer-section li {
        padding: 0;
        color:#999;
        list-style: none;
        gap:30px;
    }
    .footer-section ul.tal li {
        font-size: 15px;
        color: #999;
        margin-bottom: 45px; 
    }
    .footer-section p{
        line-height: 150%;
        margin-bottom: 60%;
    }
    .footer-section ul {
        padding-left: 0;
       
    }
    .footer-section h3 {
        margin-bottom: 35px; 
        font-size: 20px;
    }
    .footer-section ul li {
        margin-bottom: 15px;
       
    }
    
    .footer-section ul li:last-child {
        margin-bottom: 0;
    }
    .footer-section ul li a {
        color:  #999;
        text-decoration: none; 
    }
    .footer-section ul.tal li a span {
        margin-top: 10px;
        display: block;
        font-size: 12px;
        color:#ff4500;
    }
    .footer-section p {
        margin-bottom: 10px;
    }
    .social-icons {
        display: flex;
        gap: 30px;
        margin-top:40px ;
    }
    .social-icons a {
        color: #fff;
        text-decoration: none;
        font-size: 20px;
    }
    .footer-section form {
        margin-top: 30px;
        display: flex;
    }
     .footer-section input[type="email"] {
        padding: 15px;
        border: none;
        border-radius: 1px;
        flex: 1;
    }
     .footer-section button {
        padding: 10px 20px;
        background-color:#ff4500;
        border: none;
        border-radius: 1px;
        color: #fff;
        cursor: pointer;
    }
     .footer-section button:hover {
        background-color:#ff4500;}

        .footer-bottom {
            background-color:#333;
            height: 50px;
            text-align: center;
            padding: 20px 0; 
            color:#999;
        }
        
        .footer-bottom span {
            color: red;
        }
       
        /*-----------------------*/

        @media (max-width: 991px) {
            #sect11{
                padding: 40px 40px;
            }
                .footer-section {
                    height: 300px;
                    flex: 1 1 45%; 
                    margin:0; 
                    min-width: 30%;
                }
                .footer-container {
                    height: 80vh;
                    padding: 0;
                    margin: 0;
                    flex-wrap: wrap;
                }
        }
        @media (max-width: 768px) {
            #sect11{

                padding: 30px 20px;
            }
            .footer-container {
                  flex-wrap: wrap;
                }
                .footer-section {
                    flex: 1 1 45%; 
                    margin: 10px; 
                    min-width: 45%;
                }
                .footer-container {
                    height: 100vh;
                }
        }
        @media (max-width:667px) {
            #sect11{
                padding: 30px 20px;
            }
            .footer-container {
                height: auto;
                flex-direction:row;
                align-items:flex-start;
            }
            .footer-section {
              margin-left: 0;
                margin-bottom: 20px;  
            }
        }
        @media (max-width: 425px) {
            #sect11{
                padding: 30px 20px;
            }
            .footer-container {
                padding: 0;
                margin-left: 0;
                height: auto;
                flex-direction:row;
                align-items:flex-start;
            }
            .footer-section {
                width: 100%;
                margin-left: 0;
                margin-bottom: 20px;
                min-width: 300px;
            }
            .footer-bottom p{
                font-size: 15px;
            }
        }
        @media (max-width: 375px) {
            #sect11{
                padding: 20px 50px;
            }
          .footer-section {
              min-width: 200px;
              margin-bottom: 20px;
             }
        }
        @media (max-width: 320px) {
            #sect11{
                
                padding: 20px 10px;
            }
          .footer-section {
              min-width: 200px;
              margin-bottom: 20px;
             }
             
        }